﻿<%@ Page Title="" Language="C#" MasterPageFile="~/info/master.master" AutoEventWireup="true" CodeFile="HR.aspx.cs" Inherits="info_HR" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <style type="text/css">
        p {
            line-height: 100%;
            font-size: 16px;
            padding: 2px 50px;
        }

        h3 {
            color: green;
        }
    </style>

    <br />
    <h2>人才招聘</h2>


    <h3>文案</h3>
    <p>工作职责：</p>

    <p>
        1、各类宣传活动的文案策划，编写各种日常新闻稿件；
 
    </p>
    <p>
        2、网站、博客、BBS、微博等资讯的维护与更新；
 
    </p>
    <p>
        3、完成产品稿、广告稿、市场与公关活动方案的策划和撰写；
 
    </p>
    <p>
        4、产品意义的诠释和发挥，产品手册、海报及宣传主题文字撰写；
 
    </p>
    <p>
        5、负责新闻稿件和活动资料的收集整理与汇总存档。
 
    </p>
    <p>
        岗位要求：
 
    </p>
    <p>
        1、本科以上学历，中文类、新闻学、广告学、公关传媒等相关专业；
 
    </p>
    <p>
        2、出色的文字驾驭能力，新闻媒体稿件、软文、企业广告片、活动策划等文字表现；
 
    </p>
    <p>
        3、创意能力强、思维敏捷、善于沟通、具有良好的语言表达能力； 
    </p>
    <p>
        4、熟悉市场推广、品牌策划、活动策划的整个流程；
    </p>
    <p>
        5、有过广告公司或新闻媒体文案工作经验，财经类媒体记者从业经验者优先。
    </p>
    <hr />
    <h3>平面设计师</h3>
    <p>工作职责：</p>
    <p>
        1、公司网页平面设计；
    </p>
    <p>
        2、产品包装、宣传资料、产品手册、广告等平面设计；
    </p>
    <p>
        3、重大会议、联欢会、展会等重大活动的美术设计；
    </p>
    <p>
        4、根据发展战略以及企业文化，参与编制企业形象设计纲要；
    </p>
    <p>
        5、对产品特性、企业文化、市场行情和目标客户群体的特点和需求的准确把握，进行企业的VI、CI策划。
    </p>
    <p>
        岗位要求：
    </p>
    <p>
        1、本科以上的学历，美术、设计及相关专业；
    </p>
    <p>
        2、良好的创意构思设计能力以及对色彩的把握；
    </p>
    <p>
        3、能深刻理解企业理念、挖掘企业文化，能以作品展示企业内涵；
    </p>
    <p>
        4、熟悉排版、印刷工艺流程等后期制作及办公软件；
    </p>
    <p>
        5、熟练Photoshop、Illustrator、MAC & PC PageMaker、CorelDraw等设计软件。
    </p>
    <hr />
    <h3>客服</h3>
    <p>岗位职责：</p>
    <p>
        1、接听顾客热线电话，了解客户需求，提供产品咨询、预约配送或销售服务；
    </p>
    <p>
        2、准确记录客户订购、配送信息，指导顾客使用产品；
    </p>
    <p>
        3、与相关部门的业务协调，协助建立产品配送系统，及时处理客户服务中临时问题；
    </p>
    <p>
        4、负责对客户进行电话回访以及相关的满意度调查，总结分析客户反馈的问题；
    </p>
    <p>
        5、依照CRM，对客户关系管理体系进行有效整合。
    </p>
    <p>
        岗位要求：
    </p>
    <p>
        1、本科以上学历，有客户服务经验者优先，女士优先；
    </p>
    <p>
        2、普通话标准，口齿清楚，声音甜美，优秀的语言表达能力和沟通能力；
    </p>
    <p>
        3、较强的应变能力、协调能力，能独立处理紧急问题；
    </p>
    <p>
        4、自我激励，开朗，幽默，有快速学习的能力；
    </p>
    <p>
        5、良好的服务意识、耐心和责任心，工作积极主动。
    </p>
    <hr />
    <h3>销售经理</h3>
    <p>岗位职责：</p>
    <p>
        1、充分利用公司平台开发新客户，建立和维护客户档案；
    </p>
    <p>
        2、研究区域市场状况，收集市场及目标客户信息，跟踪并深入了解客户；
    </p>
    <p>
        3、维护重要客户关系及处理和跟进订单；
    </p>
    <p>
        4、制定销售计划和总结汇报工作情况；
    </p>
    <p>
        5、按时完善销售任务，及回款任务。
    </p>
    <p>
        岗位要求：
    </p>
    <p>
        1、本科以上学历，管理或市场营销学相关专业，两年以上的销售管理经验；
    </p>
    <p>
        2、热爱销售工作，形象气质佳，良好的语言和文字表达能力，热情、开朗、亲和力强；
    </p>
    <p>
        3、有较强的人际沟通能力、应变能力和协调能力，工作积极主动，有计划、有条理；
    </p>
    <p>
        4、富有开拓精神，能高效完成公司分配的销售任务，勇于承担压力；
    </p>
    <p>
        5、有电信、金融、广告公关等行业资源者优先。
    </p>
    <hr />
    <h3>经理助理</h3>
    <p>工作职责：</p>
    <p>
        1、参与客户群的分析：
    </p>
    <p>
        （1）以客户群为中心，协助主管进行消费市场的研究、客户群的特征分析；
    </p>
    <p>
        （2）细化目标客户群的定位，协助制定满足目标客户群、并和公司定价体系配套的产品价格体系；
    </p>
    <p>
        （3）进行目标客户群的比例分析和偏好分析，协助设计产品的促销和广告计划、产品渠道建设和推进的步骤、渠道的激励政策以及相关的服务体系支持等；
    </p>
    <p>
        （4）收集、整理、归纳市场行情、价格，以及新产品、替代品、客源等信息资料；
    </p>
    <p>
        2、执行客户关系维护过程中的辅助工作：
    </p>
    <p>
        （1）收集客户信息资料，负责部门和客户之间的关系协调；
    </p>
    <p>
        （2）及时处理客户提出的一些较简单的要求，并做好相应的回访工作；
    </p>
    <p>
        （3）向经理反馈市场及客户的相关信息，协助经理处理与客户日常来往工作；
    </p>
    <p>
        （4）协助维护部门与客户之间的信用度与可持续合作；
    </p>
    <p>
        （5）做好客户资料的管理，以便信息的交流与合作；
    </p>
    <p>
        3、完成经理交办的其他工作。
    </p>
    <p>
        职位要求：
    </p>
    <p>
        1、本科以上学历，管理或市场营销学相关专业，两年以上的销售管理经验；
    </p>
    <p>
        2、热爱销售工作，形象气质佳，良好的语言和文字表达能力，热情、开朗、亲和力强；
    </p>
    <p>
        3、有较强的人际沟通能力、应变能力和协调能力，工作积极主动，有计划、有条理；
    </p>
    <p>
        4、富有开拓精神，能高效完成公司分配的销售任务，勇于承担压力；
    </p>
    <p>
        5、有商超大卖场方面经验者优先。
    </p>
    <hr />
    <h3>行政内勤</h3>
    <p>工作职责：</p>
    <p>
        1、负责各项工作的追踪及内部各级人员的日常考核工作，并按时出具考核通报；
    </p>
    <p>
        2、负责部门日常费用报销工作，包括预算及用款执行情况的跟进及日常各级人员票据的报销工作；
    </p>
    <p>
        3、负责完成部门各项会议的召开及会议纪要的出具，同时负责对会议纪要的落实追踪及考核工作；
    </p>
    <p>
        4、负责部门固定资产、低值易耗品及办公用品的申购及管理；
    </p>
    <p>
        5、负责部门文件资料的管理，内部人员OA及通讯录的及时更新；
    </p>
    <p>
        6、负责与行政管理部各闸口工作的对接，并配合相关工作的开展；
    </p>
    <p>
        7、完成上级领导交办的其他工作。
    </p>
    <p>
        职位要求：
    </p>
    <p>
        1、本科以上学历，人力资源、统计、行政管理、市场营销相关专业；
    </p>
    <p>
        2、熟练使用Word\Excel\PowerPoint等办公软件；
    </p>
    <p>
        3、沟通、协调能力及执行力强，能吃苦耐劳；
    </p>
    <hr />

    <p>
        投递简历：    hr@presentone.cn         投递简历时请注明应聘职位
    </p>

</asp:Content>

