﻿html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 微软雅黑, Arial, Courier New;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    height: 100%;
}

#tableContainer {
    width: 100%;
    height: 100%;
    border-spacing: 0px;

    .layout_top {
        background-color: #333333;
        width: 100%;
        height: 50px;
        color: #FFFFFF;
        font-size: 13px;

        a {
            color: #FFFFFF;
        }

        div {
            float: right;
            margin: 0 10px;

            &:first-child {
                float: left;
                font-size: 24px;
                margin-left: 40px;
            }
        }
    }

    .layout_menu {
        height: 100%;
        text-align: left;
        vertical-align: top;
        background-color: #EEEEEE;
        padding-top: 4px;
        margin: 0px;
        width: 220px;
    }

    .copyright {
        background-color: #00a3cf;
        height: 30px;
        text-align: center;
        color: #FFFFFF;
        font-size: 10px;
    }
}

.contentTable {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

.layout_content {
    height: 100%;
    background: #FFFFFF;
    text-align: left;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    font-size: 13px;

    .divCurrentPosition {
        width: 100%;
        line-height: 40px;
        background-color: #EEEEEE;
        background-image: url(../images/triangle.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding: 0px;
    }

    #divContentContaioner {
        padding: 12px;
    }
}

.divPager {
    padding: 5px 0;
    line-height: 30px;

    div {
        &:first-child {
            float: right;
        }
    }
}

.divSearchbar {
    padding: 12px 12px 0 12px;
    float: left;
}

.divToolbar {
    padding: 12px 12px 0 12px;
    float: right;
    height: 22px;
}

.divFooter {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#dialogContent {
    width: 99%;
    height: 99%;
}

.gvTable {
    font-size: 13px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 1px;
    clear: both;
    line-height: 20px;
    min-width: 720px;
    color: #333333;


    > tbody {
        > tr {
            > th {
                border: 1px solid #CBCBCB;
                background-image: linear-gradient(#FFFFFF, #CBCBCB);
                text-align: center;
                height: 26px;
                padding: 4px;
            }
        }

        > tr {

            > td {
                border: 1px solid #CBCBCB;
                padding: 4px;

                a {
                    color: #000000;
                }

                img {
                    border: solid 1px gray;
                    width: 50px;
                    height: 50px;
                }
            }
        }

        > tr:nth-child(2n+1) {
            background-color: #EDF5FF;
        }
    }

    > tfoot {
        background: #EEEEEE;
        font-weight: bold;
    }
}

table.tableInfo {
    width: 100%;
    font-size: 13px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 1px;
    clear: both;
    margin-top: 1px;

    tr {
        line-height: 24px;
    }

    thead {
        tr {
            th {
                background: #74bde4;
                color: white;
                text-align: left;
                padding-left: 10px;
                border: 1px solid #74bde4;
            }
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid #CCCCCC;
                color: #333333;
                padding-left: 5px;
                vertical-align: top;

                &:nth-child(2n+1) {
                    background: #e9f4ff;
                    text-align: right;
                    padding-right: 8px;
                    width: 180px;
                }
            }

            &.richedit {
                height: 200px;
            }
        }
    }

    input[type="text"], input[type="password"], textarea {
        width: 180px;
    }

    textarea {
        height: 50px;
    }

    select {
        width: 180px;
    }

    .MustInput {
        color: red;
        font-weight: bold;
    }
}

table.TableInfoHeaderTab {
    font-size: 15px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 1px;
    clear: both;
    margin-bottom: 20px;

    tr {
        border-bottom: solid 0px #222222;

        td {
            &:nth-child(2n+1) {
                width: 35px;
            }

            &:nth-child(2n) {
                text-align: center;
                border-bottom: solid 0px #222222;
            }

            a {
                color: #999;
                text-decoration: none;

                &:hover {
                    color: #e4393c;
                    text-decoration: underline;
                }
            }

            &.selected {
                border-bottom: solid 3px #e4393c;
                font-weight:bold;

                a {
                    color: #e4393c;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #CBCBCB;
    font-size: 13px;
    height: 18px;
}

ul.itemPictures {
    padding: 0;
    margin: 0;

    li {
        width: 350px;
        height: 380px;
        list-style-type: none;
        display: inline-block;
        border: solid 0px gray;
        margin: 5px;

        div {

            &.pic {
                width: 350px;
                height: 350px;
                box-shadow: 3px 3px 2px rgba(0,0,0,.2);

                img {
                    width: 350px;
                    height: 350px;
                }
            }

            &.command {
                width: 350px;
                height: 30px;
                text-align: right;
                line-height: 30px;
            }
        }
    }
}

.nodisplay {
    display: none !important;
}
