﻿.width-30 {
    width: 30px !important;
}

.width-50 {
    width: 50px !important;
}

.width-80 {
    width: 80px !important;
}

.width-100 {
    width: 100px !important;
}

.width-300 {
    width: 300px !important;
}

.width-500 {
    width: 500px !important;
}

.width-600 {
    width: 600px !important;
}

.width-700 {
    width: 700px !important;
}
.width-p100{
    width: 100% !important;
}