html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Verdana, "microsoft yahei", SimSun;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
form {
  width: 100%;
}
.flatButton {
  position: absolute;
  z-index: 1;
  height: 30px;
  border: 1px solid #EFEFEF;
  background-color: #F7F7F7;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
/*头部顶端条*/
.header {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  line-height: 30px;
  height: 30px;
  background: #F7F7F7;
}
.header .w {
  height: 30px;
  background: #F7F7F7;
  width: 1210px;
  margin: 0 auto;
  font-family: "微软雅黑";
  font-size: 12px;
}
.header .w .fav {
  float: left;
}
.header .w .fav a {
  color: #666666;
  text-decoration: none;
}
.header .w .fav b {
  width: 13px;
  height: 13px;
  background: url(../images/fav.png) no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
}
.header .w .user {
  float: right;
}
.header .w .user ul.welcome li {
  height: 30px;
}
.header .w .user ul.welcome li.for1 {
  padding: 0 5px 0 5px;
  color: #666666;
}
.header .w .user ul.welcome li.for1 a {
  color: #666666;
  text-decoration: none;
}
.header .w .user ul.welcome li.for2 {
  padding: 0 2px;
  color: #808080;
}
/*logo + search*/
.logo {
  width: 1210px;
  margin: 0 auto;
  border: solid 0px gray;
  height: 80px;
}
.logo .logoPic {
  width: 265px;
  height: 80px;
  background: url(../images/logo.png) no-repeat 0 center;
  float: left;
}
.logo .search {
  float: left;
  padding: 18px;
}
.logo .search input[type="text"].input {
  border: solid 4px #e4393c;
  border-right: solid 0px #e4393c;
  margin: 0;
  padding: 8px;
  line-height: 16px;
  display: inline-block;
  width: 500px;
  font-size: 13px;
  float: left;
}
.logo .search input[type="text"].input:focus {
  outline: none;
}
.logo .search div.input {
  padding: 0 20px 2px 20px !important;
  border: solid 4px #e4393c;
  margin: 0;
  padding: 0;
  line-height: 30px;
  display: inline-block;
  background-color: #e4393c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  float: left;
}
.logo .flatButton {
  margin-top: 20px;
  margin-right: 10px;
}
.logo .myAccount {
  float: right;
  width: 130px;
  height: 80px;
  border: solid 0px gray;
  font-family: "微软雅黑";
  font-size: 12px;
}
.logo .myAccount .flatButton {
  background-image: url(../images/myAccount.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0 12px 0 30px;
}
.logo .myAccount .flatButton img {
  margin-left: 5px;
}
.logo .myCart {
  float: right;
  width: 131px;
  height: 80px;
  border: solid 0px gray;
  font-family: "微软雅黑";
  font-size: 12px;
}
.logo .myCart .flatButton {
  background-image: url(../images/cart.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0 12px 0 30px;
}
.logo .myCart .flatButton img {
  margin-left: 5px;
}
.logo .step1 {
  padding-top: 30px;
  float: right;
}
/*横条菜单*/
.menu {
  width: 1210px;
  margin: 0 auto;
  height: 40px;
  background: #e4393c;
  color: white;
  font-weight: bold;
}
.menu .menuNav {
  float: left;
  width: 210px;
}
.menu .menuNav .top {
  padding: 10px 8px 8px 20px;
}
.menu .menuNav .top span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu .menuTop {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu .menuTop li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px 0 30px;
  height: 30px;
  cursor: pointer;
}
.menu .menuTop li.selected {
  background-color: #a40000;
}
.menu .menuTop li:hover {
  background-color: #a40000;
}
.menu .menuTop li a {
  color: white;
  text-decoration: none;
}
/*大banner，滚动*/
.banner {
  width: 1210px;
  margin: 10px auto;
}
.banner img {
  width: 990px;
  height: 220px;
}
/*各类产品列表*/
.productsList {
  width: 1210px;
  margin: 10px auto;
  border: solid 0px #eeeeee;
}
.productsList ul.floor li.category {
  width: 100%;
  height: 305px;
  margin-top: 10px;
  border-bottom: solid 1px #eeeeee;
}
.productsList ul.floor li.category div.title {
  width: 100%;
  height: 40px;
  border-bottom: solid 2px #AAA;
}
.productsList ul.floor li.category div.title .f {
  float: left;
  width: 26px;
  height: 34px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FFF;
  background-image: url(../images/icon.png);
  background-position: -40px 0;
  background-repeat: no-repeat;
  font-weight: bold;
}
.productsList ul.floor li.category div.title .name {
  float: left;
}
.productsList ul.floor li.category div.title .name h2 {
  line-height: 24px;
  font-size: 22px;
  margin: 5px 0 5px 30px;
  font-family: 'Microsoft YaHei';
}
.productsList ul.floor li.category div.title .more {
  float: right;
}
.productsList ul.floor li.category div.title .more h3 {
  line-height: 24px;
  font-size: 14px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.productsList ul.floor li.category .content .subMenu {
  width: 200px;
  float: left;
}
.productsList ul.floor li.category .content .subMenu ul.c {
  margin: 5px;
}
.productsList ul.floor li.category .content .subMenu ul.c li {
  display: block;
}
.productsList ul.floor li.category .content .subMenu ul.c li a {
  line-height: 30px;
  color: #666666;
  text-decoration: none;
}
.productsList ul.floor li.category .content .subMenu ul.c li a:hover {
  text-decoration: underline;
  color: #e4393c;
}
.productsList ul.floor li.category .content .products {
  width: 1010px;
  float: left;
}
.productsList ul.floor li.category .content .products ul {
  margin-top: 15px;
}
.productsList ul.floor li.category .content .products ul li {
  height: 230px;
  border: solid 1px #eeeeee;
  margin-right: 20px;
}
.productsList ul.floor li.category .content .products ul li:last-child {
  margin-right: 0;
}
.productsList ul.floor li.category .content .products ul li .thumbc img.thumb {
  width: 150px;
  height: 150px;
  margin: 15px;
  border: solid 1px #888;
}
.productsList ul.floor li.category .content .products ul li .info {
  width: 150px;
  height: 60px;
}
.productsList ul.floor li.category .content .products ul li .info span.pname {
  margin: 0px 15px;
  display: block;
}
.productsList ul.floor li.category .content .products ul li .info span.price {
  margin: 10px 15px;
  color: red;
  display: block;
}
.productsList ul.floor li.category .content .products ul li a {
  color: #666;
  text-decoration: none;
}
.productsList ul.floor li.category .content .products ul li a:hover {
  color: #e4393c;
  text-decoration: underline;
}
/*页面底部版权，ICP等信息*/
.footer {
  clear: both;
  width: 1210px;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  background-color: #f7f7f7;
}
.popMenu {
  position: absolute;
  top: 150px;
  border: solid 2px #e4393c;
  border-top: none;
  min-height: 200px;
  width: 205px;
  z-index: 10;
  color: #666666;
  background-color: white;
}
.popMenu div.container {
  margin: 10px;
  margin-top: 0;
  width: 190px;
}
.popMenu div.container div.sp {
  height: 10px;
}
.popMenu div.container > ul {
  border-bottom: solid 1px #F0F0F0;
}
.popMenu div.container > ul > li {
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
.popMenu div.container > ul > li:first-child {
  margin-right: 10px;
  width: 70px;
}
.popMenu div.container > ul > li > ul > li {
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 10px 0 0;
}
.popMenu div.container > ul > li > ul > li a {
  color: #666666;
  text-decoration: none;
}
.popMenu div.container > ul > li > ul > li a:hover {
  text-decoration: underline;
  color: #e4393c;
}
/*列表页面，显示标题*/
.breadcrumb {
  width: 1210px;
  margin: 10px auto;
}
.breadcrumb h2 {
  color: #666;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  font-family: "microsoft yahei";
  display: inline;
  padding-left: 10px;
}
.breadcrumb h4 {
  color: #666;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  font-family: "microsoft yahei";
  display: inline;
}
.page_list {
  width: 1210px;
  margin: 0px auto 10px auto;
  display: block;
}
.page_list a {
  color: #666666;
  text-decoration: none;
}
.page_list a:hover {
  text-decoration: underline;
  color: #e4393c;
}
.page_list .left {
  border: solid 1px #ddd;
  border-top: solid 2px #999;
  width: 206px;
  min-height: 300px;
  float: left;
}
.page_list .left ul.subMenu {
  padding: 20px 30px;
}
.page_list .left ul.subMenu li {
  display: block;
  height: 30px;
}
.page_list .right {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 990px;
  min-height: 300px;
  float: right;
}
.page_list .right ul {
  margin-top: 15px;
}
.page_list .right ul li {
  height: 330px;
  border: solid 0px #eeeeee;
  margin-right: 12px;
}
.page_list .right ul li:nth-child(4n) {
  margin-right: 0;
}
.page_list .right ul li .thumbc img.thumb {
  width: 220px;
  height: 220px;
  margin: 5px;
  border: solid 1px #888;
}
.page_list .right ul li .info {
  width: 220px;
  height: 70px;
}
.page_list .right ul li .info div.pname {
  margin: 0px 5px;
  display: block;
  height: 40px;
  line-height: 18px;
}
.page_list .right ul li .info div.act {
  height: 30px;
  border: solid 0px gray;
}
.page_list .right ul li .info div.act div.price {
  clear: both;
  margin: 2px 5px;
  color: red;
  display: inline-block;
  font-weight: 800;
  font-size: 15px;
  float: left;
}
.page_list .right ul li .info div.act div.pbutton {
  display: inline-block;
  float: right;
}
.pageItem {
  width: 1210px;
  margin: 0px auto 10px auto;
}
.pageItem .preview {
  width: 1210px;
  border: solid 0px gray;
}
.pageItem .preview .pic {
  float: left;
  width: 350px;
  height: 415px;
  border: 1px solid #ddd;
}
.pageItem .preview .info {
  float: right;
  width: 820px;
  min-height: 350px;
  border: 0px solid #ddd;
  line-height: 180%;
}
.pageItem .preview .info .dtitle {
  width: 800px;
  height: 1.5em;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: arial, "microsoft yahei";
  font-weight: bold;
  color: #666;
}
.pageItem .preview .info .stitle {
  width: 800px;
  display: block;
  color: #e4393c;
  font-size: 16px;
  overflow: hidden;
  font-family: arial, "microsoft yahei";
  font-weight: bold;
}
.pageItem .preview .info hr {
  border: none;
  border-top: dotted 1px gray;
}
.pageItem .preview .info table.info_b {
  font-size: 14px;
  font-family: SimSun;
}
.pageItem .preview .info table.info_b td {
  padding: 5px;
}
.pageItem .preview .info table.info_b td.mprice {
  color: gray;
  text-decoration: line-through;
  font-size: 15px;
  font-weight: bold;
}
.pageItem .preview .info table.info_b td.rprice {
  color: red;
  font-size: 15px;
  font-weight: bold;
}
.pageItem .preview .info table.info_b td.gprice {
  font-weight: bold;
}
.pageItem .preview .info table.info_b td.num div {
  display: inline-block;
}
.pageItem .preview .info table.info_b td.num .in .text {
  width: 40px;
  text-align: center;
}
.pageItem .preview .info table.info_b td.num .des,
.pageItem .preview .info table.info_b td.num .plug {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../images/btn_add.png);
  cursor: pointer;
}
.pageItem .preview .info table.info_b td.num .des {
  background-position: 0 0;
}
.pageItem .preview .info table.info_b td.num .des:hover {
  background-position: 0 -16px;
}
.pageItem .preview .info table.info_b td.num .plug {
  background-position: -16px 0;
}
.pageItem .preview .info table.info_b td.num .plug:hover {
  background-position: -16px -16px;
}
.pageItem .info_d {
  clear: both;
  margin-top: 40px;
  width: 1210px;
  float: right;
  border: solid 0px lightgray;
}
.pageItem .info_d .divTabs {
  height: 30px;
  width: 100%;
  border-right: solid 1px #dddddd;
  border-top: solid 2px #999999;
  border-bottom: solid 1px #dddddd;
  background: #f7f7f7;
  overflow: visible;
}
.pageItem .info_d .divTabs li {
  margin-right: -4px;
  float: left;
  cursor: pointer;
}
.pageItem .info_d .divTabs li:first-child {
  border-left: solid 1px #dddddd;
}
.pageItem .info_d .divTabs li div {
  position: relative;
  width: 120px;
  text-align: center;
  line-height: 26px;
  color: #999999;
}
.pageItem .info_d .divTabs li.selected {
  margin-top: -7px;
  padding-top: 3px;
  border-top: solid 2px #e4393c;
  border-bottom: solid 0px #dddddd;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  background-color: white;
}
.pageItem .info_d .divTabs li.selected div {
  position: relative;
  width: 120px;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  color: #e4393c;
}
.pageItem .info_d .tabs {
  margin-top: 0px;
  border-right: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 10px;
}
table.tableInfo {
  width: 100%;
  font-size: 13px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 1px;
  clear: both;
  margin-top: 1px;
}
table.tableInfo tr {
  line-height: 24px;
}
table.tableInfo thead tr th {
  background: #74bde4;
  color: white;
  text-align: left;
  padding-left: 10px;
  border: 1px solid #74bde4;
}
table.tableInfo tbody tr td {
  border: 1px solid #CCCCCC;
  color: #333333;
  padding-left: 5px;
}
table.tableInfo tbody tr td:nth-child(2n+1) {
  background: #e9f4ff;
  text-align: right;
  padding-right: 8px;
  width: 180px;
}
table.tableInfo input[type="text"],
table.tableInfo input[type="password"],
table.tableInfo textarea {
  width: 180px;
}
table.tableInfo textarea {
  height: 50px;
}
table.tableInfo select {
  width: 180px;
}
table.tableInfo .MustInput {
  color: red;
  font-weight: bold;
}
.buttonBar {
  height: 50px;
  padding-top: 20px;
}
.buttonBar .AddtoCart {
  width: 135px;
  height: 36px;
  background-image: url(../images/p-btns.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  cursor: pointer;
}
.buttonBar .AddtoCart:hover {
  background-image: url(../images/p-btns.png);
  background-position-x: -157px;
}
.spaceMain {
  width: 1210px;
  margin: 0 auto 30px auto;
  min-height: 400px;
  padding: 10px 0;
}
.spaceMain .leftmenu {
  width: 210px;
  float: left;
  background-color: #f8f8f8;
  min-height: 400px;
  padding: 10px;
}
.spaceMain .rightContent {
  width: 950px;
  float: right;
  background-color: #ffffff;
  min-height: 400px;
  padding: 10px;
}
.cartConfirm {
  width: 1210px;
  margin: 20px auto;
  min-height: 400px;
}
.cartConfirm a {
  color: #666;
  text-decoration: none;
}
.cartConfirm .cartConfirmInfo {
  width: 950px;
  float: left;
  min-height: 400px;
  background-color: #f8f8f8;
}
.cartConfirm .cartConfirmInfo .success {
  padding: 31px 10px 16px 140px;
  overflow: hidden;
  height: 65px;
  zoom: 1;
}
.cartConfirm .cartConfirmInfo .success .success-b {
  color: #999;
  height: auto;
  float: left;
  overflow: hidden;
  width: 304px;
  height: 40px;
  padding-left: 56px;
  background: url(../images/20130425D.png) no-repeat 0 -100px;
}
.cartConfirm .cartConfirmInfo .success .success-b h3 {
  font: normal;
  font-size: 18px;
  color: #7ABD54;
}
.cartConfirm .cartConfirmInfo .success .btn-pay {
  margin: 0 20px 0 10px;
  _margin-right: 75px;
  width: 220px;
  background-color: #f8f8f8;
  float: right;
  width: 189px;
  height: 36px;
  background-position: 0 0;
  background: #cccccc url(../images/20130425D.png) no-repeat;
  line-height: 100px;
  overflow: hidden;
  display: block;
}
.cartConfirm .cartConfirmInfo .success .btn-continue {
  float: right;
  background-position: -90px -37px;
  width: 94px;
  height: 36px;
  background-image: url(../images/20130425D.png);
  line-height: 100px;
  overflow: hidden;
  display: block;
}
.cartConfirm .cartMiniList {
  float: right;
  border: solid 1px gray;
  min-height: 400px;
  width: 240px;
}
.cartConfirm .cartMiniList .t {
  width: 100%;
  border-top: solid 1px gray;
  background: #f8f8f8;
}
.stepWizard {
  width: 481px;
  padding-top: 23px;
  overflow: hidden;
  height: 23px;
  float: right;
  margin-top: 20px;
}
.stepWizard.step1 {
  background: url(../images/step1.png) no-repeat;
}
.stepWizard.step2 {
  background: url(../images/step2.png) no-repeat;
}
.stepWizard li {
  width: 160px;
  height: 23px;
  float: left;
  line-height: 23px;
  text-align: center;
}
.stepWizard li b {
  width: 22px;
  height: 25px;
  display: none;
}
.stepWizard .over {
  color: #7abd54;
}
.stepWizard .none {
  color: #7abd54;
}
.cartList {
  width: 1210px;
  margin: 20px auto;
}
.cartList .cart-button {
  padding: 10px 0 10px 0;
}
.cartList .cart-button a {
  text-decoration: none;
}
.cartList .cart-button a#continue {
  background: url(../images/btn-proceed.png) no-repeat 0 0;
  width: 94px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.cartList .cart-button a.continue {
  padding-right: 16px;
  background-position: 100% -198px;
}
.cartList .cart-button a.checkout {
  width: 135px;
  height: 36px;
  float: right;
  display: block;
  overflow: hidden;
  background: url(../images/btn-check-2013.jpg) no-repeat #e43f45;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  _line-height: 36px;
  text-indent: 33px;
  color: #fff;
  position: relative;
}
.cartList .cart-button .btn {
  float: left;
  display: block;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  padding-right: 10px;
  line-height: normal;
  font-size: 12px;
  background-position: 100% -63px;
}
table.cartTable {
  border-collapse: collapse;
  width: 100%;
}
table.cartTable thead tr {
  border: solid 1px #ddd;
  border-top: solid 2px #ddd;
  color: #666;
  line-height: 35px;
  text-align: center;
  height: 35px;
  background-color: #f7f7f7;
}
table.cartTable thead tr td {
  text-align: center;
}
table.cartTable tbody tr {
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
  background-color: #fffdee;
}
table.cartTable tbody tr td {
  text-align: center;
  padding: 10px;
}
table.cartTable tbody tr td img {
  border: solid 1px #ddd;
  width: 50px;
  height: 50px;
}
table.cartTable tbody tr td.num div {
  display: inline-block;
}
table.cartTable tbody tr td.num .in .text {
  width: 40px;
  text-align: center;
}
table.cartTable tbody tr td.num .des,
table.cartTable tbody tr td.num .plug {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../images/btn_add.png);
  cursor: pointer;
}
table.cartTable tbody tr td.num .des {
  background-position: 0 0;
}
table.cartTable tbody tr td.num .des:hover {
  background-position: 0 -16px;
}
table.cartTable tbody tr td.num .plug {
  background-position: -16px 0;
}
table.cartTable tbody tr td.num .plug:hover {
  background-position: -16px -16px;
}
.checkOrderInfo {
  width: 1210px;
  margin: 20px auto;
  border: 1px solid #ddd;
}
.checkOrderInfo h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.checkOrderInfo .mt {
  height: 28px;
  background-color: #f7f7f7;
  padding-top: 7px;
}
.checkOrderInfo .mt h2 {
  height: 35px;
  overflow: hidden;
  line-height: 100px;
  background-image: url(../images/checkout-title.gif);
  background-repeat: no-repeat;
  background-position: 10px 0;
  font-family: "microsoft yahei";
}
.checkOrderInfo .checkout-steps .step {
  border-top: 1px solid #ddd;
}
.checkOrderInfo .checkout-steps .step-title {
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  position: relative;
}
.checkOrderInfo .checkout-steps .step-title strong {
  font-size: 14px;
  color: #000;
}
.checkOrderInfo .checkout-steps .step-action {
  padding-left: 10px;
  color: #005ea7;
  font-size: 12px;
  font-weight: 400;
}
.checkOrderInfo .checkout-steps .step-action a {
  color: #005ea7;
}
.checkOrderInfo .checkout-steps .step-action a:visited {
  color: #005ea7;
}
.checkOrderInfo .checkout-steps .step-action a:hover {
  color: #005ea7;
}
.checkOrderInfo .checkout-steps .step-current {
  width: 1206px;
  margin: -1px;
  border: 3px solid #f60;
  position: relative;
}
.checkOrderInfo .step-right {
  padding-right: 24px;
  height: 20px;
  line-height: 20px;
  padding: 10px 10px 0 0;
  position: absolute;
  top: 2px;
  left: 133px;
}
.checkOrderInfo .step-complete .sbox-wrap {
  padding: 0 44px;
}
.checkOrderInfo .sbox {
  padding: 0px 0 20px;
}
.checkOrderInfo .s-content p {
  line-height: 22px;
}
.checkOrderInfo a.return-edit {
  float: right;
  font-size: 12px;
  font-weight: 400;
  padding-right: 24px;
  text-decoration: bottom;
}
.checkOrderInfo #order-cart {
  width: 100%;
}
.checkOrderInfo #order-cart .order-review {
  width: 100%;
  padding-top: 5px;
}
.checkOrderInfo #order-cart .review-thead {
  width: 100%;
}
.checkOrderInfo #order-cart .review-thead .fore1 {
  border-left: 0;
}
.checkOrderInfo #order-cart .review-thead .fore2 {
  width: 120px;
}
.checkOrderInfo #order-cart .review-thead .fore3 {
  width: 150px;
}
.checkOrderInfo #order-cart .review-thead .fore4 {
  width: 150px;
}
.checkOrderInfo #order-cart .review-thead td {
  height: 25px;
  border-left: 1px solid #fff;
  color: #666;
  line-height: 25px;
  text-align: center;
  background-color: #eeeeee;
}
.checkOrderInfo #order-cart .review-tbody {
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
}
.checkOrderInfo #order-cart .order-table {
  width: 100%;
}
.checkOrderInfo #order-cart .order-table .fore1 {
  padding: 0 10px;
}
.checkOrderInfo #order-cart .order-table .fore2 {
  width: 120px;
  text-align: center;
}
.checkOrderInfo #order-cart .order-table .fore3 {
  width: 150px;
  text-align: center;
}
.checkOrderInfo #order-cart .order-table .fore4 {
  width: 150px;
  text-align: center;
}
.checkOrderInfo #order-cart .p-goods {
  overflow: hidden;
  zoom: 1;
  width: 406px;
}
.checkOrderInfo #order-cart .p-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: 1px solid #ddd;
  padding: 0;
  float: left;
  overflow: hidden;
}
.checkOrderInfo #order-cart .p-img a {
  text-decoration: none;
}
.checkOrderInfo #order-cart .p-img a img {
  border: 0;
  vertical-align: middle;
}
.checkOrderInfo #order-cart .p-detail {
  width: 346px;
  float: left;
  line-height: 16px;
  word-break: break-all;
  word-wrap: break-word;
}
.checkOrderInfo #order-cart .p-name {
  width: 345px;
  height: 32px;
  overflow: hidden;
  zoom: 1;
  word-break: break-all;
  word-wrap: break-word;
}
.checkOrderInfo #order-cart .p-more {
  color: #999;
  line-height: 20px;
}
.checkOrderInfo #order-cart .p-extra {
  color: #999;
  line-height: 20px;
}
.checkOrderInfo .order-summary {
  padding-top: 10px;
  overflow: hidden;
  zoom: 1;
}
.checkOrderInfo .order-summary .summary-form {
  width: 600px;
  overflow: hidden;
}
.checkOrderInfo .order-summary .summary-form .item {
  height: 28px;
  overflow: hidden;
  zoom: 1;
  line-height: 28px;
}
.checkOrderInfo .order-summary .hookbox {
  margin: 7px 5px 0 8px;
}
.checkOrderInfo .order-summary label {
  float: left;
}
.checkOrderInfo .order-summary input {
  float: left;
}
.checkOrderInfo .order-summary .statistic {
  width: 300px;
}
.checkOrderInfo .order-summary .statistic .list {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  zoom: 1;
}
.checkOrderInfo .order-summary .statistic span {
  width: 180px;
  margin-right: 20px;
  float: left;
  text-align: right;
}
.checkOrderInfo .order-summary .statistic em {
  font-style: normal;
}
.checkOrderInfo .order-summary .statistic em {
  color: #e4393c;
}
.checkOrderInfo .order-summary .statistic .price {
  color: #333333;
  float: left;
  width: 100px;
  text-align: right;
}
.checkOrderInfo .checkout-buttons {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  position: relative;
}
.checkOrderInfo .checkout-buttons .sticky-placeholder {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;
}
.checkOrderInfo .checkout-buttons .inner {
  padding-right: 18px;
}
.checkOrderInfo .checkout-buttons .checkout-submit {
  width: 135px;
  height: 36px;
  background: url(../images/btn-submit.jpg) no-repeat;
  line-height: 100px;
  overflow: hidden;
  margin-top: 8px;
  border: 0;
  float: right;
  cursor: pointer;
}
.checkOrderInfo .checkout-buttons .checkout-submit {
  background-color: #e00;
  position: relative;
  line-height: 36px;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.checkOrderInfo .checkout-buttons .checkout-submit b {
  position: absolute;
  left: 0;
  top: 0;
  width: 135px;
  height: 36px;
  background: url(../images/btn-submit.jpg) no-repeat;
  cursor: pointer;
  overflow: hidden;
}
.checkOrderInfo .checkout-buttons .total {
  padding-right: 18px;
  float: right;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
}
.checkOrderInfo .checkout-buttons .total strong {
  color: #e4393c;
  font-size: 20px;
  vertical-align: middle;
  font-weight: normal;
}
.checkOrderInfo .checkout-submit-tip {
  background-color: #fffdee;
  border: 1px solid #edd28b;
  color: #ff6600;
  float: right;
  padding: 0pt 3px;
  height: 30px;
  line-height: 30px;
  margin: 10px 10px 0 0;
}
.checkOrderInfo .group {
  zoom: 1;
}
#dialogContent {
  width: 99%;
  height: 99%;
}
.btn {
  height: 30px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  line-height: 28px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
}
.btn.primary {
  background-image: url(../images/btn-20130725.png);
  background-repeat: no-repeat;
  background-position: -15px -30px;
  color: white;
  text-decoration: none;
}
.btn.secondary {
  border: 1px solid #ddd;
  background: #F7F7F7;
  color: #333;
  text-decoration: none;
  background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=" #f7f7f7 ", endColorstr=" #f2f2f2 ")";
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.OrderTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  border: solid 1px #E6E6E6;
  border-top: 2px solid #FFCCAA;
}
.OrderTable thead tr th {
  background: #f7f7f7 url(../images/tb-th.2011.gif) repeat-x;
  height: 31px;
  color: #666666;
  font-weight: normal;
}
.OrderTable tbody tr td {
  border: solid 1px #E6E6E6;
  text-align: center;
}
.OrderTable tbody tr td:first-child {
  text-align: left;
}
.OrderTable tbody tr.i {
  background: #f9f9f9;
}
.OrderTable tbody tr.i td {
  padding: 5px 4px;
}
