﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InnerTabs.ascx.cs" Inherits="Common_InnerTabs" %>

<asp:Table ID="tableTabs" runat="server" CssClass="TableInfoHeaderTab">
    <asp:TableRow>
        <asp:TableCell></asp:TableCell>
    </asp:TableRow>
</asp:Table>
