﻿
/* Gallery styles */

#gallery {
    /* CSS3 Box Shadow */
    -moz-box-shadow: 0 0 3px #AAAAAA;
    -webkit-box-shadow: 0 0 3px #AAAAAA;
    box-shadow: 0 0 3px #AAAAAA;
    /* CSS3 Rounded Corners */
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid white;
    background: #ffffff;
    /* The width of the gallery */
    width: 350px;
    overflow: hidden;
    height: 415px;

    #slides {
        /* This is the slide area */
        height: 350px;
        /* jQuery changes the width later on to the sum of the widths of all the slides. */
        width: 350px;
        overflow: hidden;

        .slide {
            float: left;
        }
    }

    #menu {
        /* This is the container for the thumbnails */
        height: 60px;
        margin-top: 3px;

        ul {
            margin: 0px;
            padding: 0px;

            li {
                /* Every thumbnail is a li element */
                width: 65px;
                display: inline-block;
                list-style: none;
                overflow: hidden;

                a {
                    display: block;
                    padding: 5px;

                    img {
                        border: solid 2px #ddd;
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            li.act a {
                img {
                    border: solid 2px #E4393C;
                }
            }
        }
    }
}
