﻿* {
    margin: 0;
    padding: 0;
}

body {
    background: none repeat scroll 0 0 #f2f2f2;
}

body {
    color: #333;
    font-family: Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 150%;
}

body {
    margin: 0 auto;
}

.w {
    margin: 0 auto;
    padding: 0;
    width: 990px;

    #logo {
        padding: 10px 0;
        float: none;
        margin: 0;
        position: relative;

        b {
            position: absolute;
            background: url(../images/login-all-bg.png) 0 -131px no-repeat;
            width: 111px;
            height: 46px;
            top: 18px;
            left: 280px;
        }
    }
}

.w1 {
    width: 890px;
    margin: 0 auto;
}

#entry {
    background: #e8e8e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    margin: 60px auto 55px;
    position: relative;

    .mc {
        border: 1px solid #e1e1e1;
        background: #ffffff;
        height: 355px;
    }

    .form {
        position: absolute;
        top: 18px;
        right: 32px;
        width: 320px;
        overflow: hidden;
        height: 354px;
    }

    .item {
        height: 64px;
        line-height: 26px;
        overflow: visible;
        position: relative;
        width: 320px;
        z-index: 1;

        span {
            color: #999999;
            height: 20px;
            line-height: 20px;
            display: block;
            margin-top: 1px;
        }
    }

    .fore3 {
        z-index: 6;
        height: 63px;
    }

    .login-btn2013 {
        height: 52px;
    }

    .btn-entry {
        width: 307px;
        height: 34px;
        font-family: "微软雅黑";
        line-height: 100px;
        text-indent: -9999px;
        background: url(../images/login-all-bg.png) no-repeat 0 -61px;
        overflow: hidden;
    }

    .text {
        float: none;
        width: 282px;
        height: 24px;
        line-height: 24px;
        padding: 4px 20px 4px 3px;
        border: 1px solid #cccccc;
        font-size: 14px;
        font-family: arial,"宋体";
    }
}

.m, .mt, .mc, .mb {
    overflow: hidden;
    zoom: 1;
}

.btn-img {
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
