﻿<%@ Page Title="" Language="C#" MasterPageFile="~/space/MasterPage.master" AutoEventWireup="true" CodeFile="AddressAdmin.aspx.cs" Inherits="user_AddressAdmin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

